* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.poppins-regular {
font-family: "Poppins", sans-serif;
font-weight: 400;
font-style: normal;
}

.poppins-medium {
font-family: "Poppins", sans-serif;
font-weight: 500;
font-style: normal;
}

.poppins-semibold {
font-family: "Poppins", sans-serif;
font-weight: 600;
font-style: normal;
}

.poppins-bold {
font-family: "Poppins", sans-serif;
font-weight: 700;
font-style: normal;
}

.poppins-extrabold {
font-family: "Poppins", sans-serif;
font-weight: 900;
font-style: normal;
font-size: large;
}

.text-style {
text-shadow: 
1px 1px 2px rgb(0, 0, 0),
0 0 2em rgb(251, 255, 0),
0 0 0.3em rgb(255, 187, 0);
}

/* Style the header */
header {
  align-content: center;
  background-color: #666;
  color: white;
}

article {

  padding: 10px;
  width: 100%;
  background-color: #f1f1f1;
  height: 120px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

/* img {
  height: 30px;
  align-items: start;
} */

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
  width: 100%;
  height: auto;
  }
}